<div style="
    text-align: center;
    width: 70%;
    position: absolute;
    top: 35%;
    ">
    <h1 class="mt-4">Dashboard Air-Moja</h1>
    <p class="lead mb-3">Welcome <%- user.name %> </p>
    <p class="lead mb-3">This project is still under build </p>
    <p class="lead mb-3">Available commands: register,sign in,log out</p>
    <p class="lead mb-3">Enjoy</p>
    <p class="lead mb-3">created by: Ipeleng T Moja</p>
    <a href="/user/logout" class="btn btn-secondary">Logout</a>
</div>